EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_ARENA_SIGNAL_URL=
EXPO_PUBLIC_DEMO_MODE=false
EXPO_PUBLIC_ADMIN_EMAILS=
EXPO_PUBLIC_TEST_PSEUDO=
EXPO_PUBLIC_TEST_PASSWORD=
EXPO_PUBLIC_SIMPLE_MODE=true

# Scripts (node)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
